<div
  class="waiting-loader waiting-loader--spinner"
  data-loading="true"
  aria-busy="true"
  aria-live="polite"
>
  <svg class="waiting-loader__spinner-image" viewBox="25 25 50 50">
    <circle class="waiting-loader__spinner-path"
            cx="50" cy="50" r="20"
            fill="none" />
  </svg>
</div>
